<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzy.basemodule">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application>
        <activity android:name=".base.BaseGaoDeLocationViewActivity" />
        <activity android:name="com.lzy.basemodule.base.BaseWebViewActivity">
            <intent-filter>
                <action android:name="com.lzy.base.BaseWebViewActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
